.sLinks {
    width: 40px !important;
    height: 40px;
}

.socialMedia {
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: absolute;
    bottom: -25px;
}

.teamContainer {
    margin: 50px;
    margin-top: 130px;
    
}

.teamHeading {
    margin-bottom: 100px;
    text-align: center;
    color: rgb(239, 180, 16);
    font-size: 50px;
    font-family: 'Righteous', cursive;
}

.tname {
    margin: 30px;
    font-weight: 600;
    font-size: 30px;
    color: rgb(44, 41, 33);
    font-family: 'Righteous', cursive;
}

.teamMembers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* flex: 1 1 660px; */
    gap: 50px;
    /* position: relative; */
}

.teamImage img {
    width: 250px;
    /* position: absolute; */
    margin-top: -60px;
    transition: .5s all ease-in-out;
    border: 3px solid black;
}

.teamImage {
    transition: .5s all ease-in-out;
}


.member {
    display: flex;
    /* width: ; */
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* gap: 70px; */
    margin: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 100px;
    background-color: #e8e6e6;
    box-shadow: 0 0 10px 0 #000000;
    transition: 0.5s all ease;
}

.member:hover {
    transform: scale(1.01);
    transition: .5s all ease-in-out;
}

.teamImage:hover {
    transform: translateY(-40px);
    transition: .5s all ease-in-out;
}

