.footer {
    /* background-color: #f5f5f5; */
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: bottom 0.3s;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 20px;
}

.footerLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 1rem;
}

.sponsors {
    /* background: linear-gradient(315deg, #4dff03, #00d0ff); */
    /* display: none; */
    padding: 10px 20px;
    border-radius: 30px;
    transition: .5s all ease-in-out;
}

.sponsors:hover {
    color: yellow;
    transition: .5s all ease-in-out;
    transform: translateY(-5px);
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .footer {
        width: fit-content;
        font-size: 10px;
    }
}


.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
}

.modalBG{
    background-color: #370d37 !important;
}

.modalBodyBG{
    background-color: #4b1a53 !important;
}

.modalBG .btn-close{
    background-color: white !important;
    opacity: 1;
}